@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: calc(100% - 120px);
  margin: auto;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.active {
  font-weight: 800;
}
body {
  font-family: "Poppins", sans-serif;
  height: 387829px;
}
header {
  background-color: teal;
  position: sticky;
  top: 0;
  z-index: 9999;
  background-color: #fff;
  box-shadow: 0px 1.647px 8.237px 0px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
}
header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .logo img {
  width: 35px;
}
header .logo a {
  color: #545be8;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
header nav ul a {
  color: #101928;
}
header .auth {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
header .auth a {
  padding: 5.354px 30px;
  font-family: "Inter", sans-serif;
  border-radius: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
}
header .auth .login {
  color: #545be8;
  border: 2px solid #545be8;
}
header .auth .register {
  background-color: #545be8;
  color: white;
}
.courses {
  padding: 40px 0;
  background-color: white;
}
.courses .row {
  gap: 30px;
  /* flex-wrap: nowrap; */
  align-items: stretch;
}
.courses .course-item {
  display: flex;
  flex-wrap: wrap;
  width: calc((100% - 30px) / 2);
  gap: 20px;
}
.courses img {
  width: 100%;
  aspect-ratio: 135.09/99.079;
  object-fit: cover;
  filter: brightness(50%);
  display: flex;
}
.course {
  width: calc((100% - 30px) / 2);
  box-shadow:0px 7.438px 7.438px rgba(0, 0, 0, 0.05);
  /* border: 2px solid black; */
  border-radius: 15px;
}
.courses .course-card{
  position: relative;
}
.course-info{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* background-color: #545be8; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  color: white;
}
.course-info span:first-of-type{
  background-color: #545be8;
  padding: 10px;
}
.course-info span:last-of-type{

 align-self: flex-end;
}
.course-details{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.courses .course-details .row:last-of-type{
  justify-content: flex-start;
  color: #969696;
}
.course-details .view{
  color:#545be8;
}
.course-details .row:first-of-type span:first-of-type{
  font-size: 20px;
  font-weight: 1000;
}
.courses .course-descreption{
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  padding: 0 30px;
  width: calc((100% - 30px) / 2);
  gap: 30px;
  flex-wrap: wrap;


}
.course-descreption :nth-child(1){
  color: #545be8;
  font-size: 25px;
}
.course-descreption h2{
  font-size: 50px;
}
.course-descreption p:last-of-type{
  color: #969696;
}
.course-descreption a{
  background-color: #545be8;
  border-radius:10px;
  width: fit-content;
  padding: 10px 40px ;
  color: white;
  font-family: "Inter", sans-serif;

}
.testimonials {
  padding: 40px 0;
  background-color: white;
  text-align: center;
}
.testimonials h2{
  margin-bottom: 30px;
}
.testimonials .row{
  gap: 40px;
}
.testimonial{
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0px 8.237px 8.237px 0px rgba(0, 0, 0, 0.10);
  padding: 20px;
  width: calc(( 100% - 40px ) / 2 );
}
.user-info{
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  align-items: center;
}
.user-info h3{
  font-size: 14px;
}
.user-info span{
  font-size: 10px;
  color: #969696;
}
.user-data{
  display: flex;
  flex-direction:column;
  gap: 10px;
}
.user-info img{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

blockquote{
color: #646464;
}

.rating{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
footer {
  background-color: #393e46;
  padding: 50px 0;
  color: white;
  font-size: 14px;
}
footer a {
  color: white;
}
footer .row {
  gap: 40px;
}
.footer-left-side,
.footer-right-side {
  width: calc((100% - 40px) / 2);
}
.footer-left-side {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;
  font-size: 14px;
}
footer .logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
footer .logo img {
  width: 35px;
}
footer p {
  color: #f4f4f4;
  lighting-color: #f4f4f4;
  font-size: 12px;
}
footer .icons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
footer .icons svg {
  width: 15px;
  height: 15px;
  border: 1px solid white;
  padding: 10px;
  box-sizing: content-box;
}
footer .footer-right-side {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.footer-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
}
.footer-item h2 {
  font-size: 18px;
}
.footer-item nav {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: var(--light, #f4f4f4);
  flex-direction: column;
}
